{% extends "index/head.html.twig" %}

{% block body %}

    {% if (user['email'] == false) %}

        <div style="width: 300px; margin: 0 auto;">

            <h3 style="text-align: center;">PHALCON TESTING</h3>

            <div style="text-align: center;">

                <input type="text" id="login" style="margin: 10px 0px;" placeholder="Login" class="form-control" required>
                <input type="password" id="pass" style="margin: 10px 0px;" placeholder="Hasło" class="form-control" required>
                <button type="submit" class="btn btn-primary" onClick="logIn();">ZALOGUJ</button>
            </div>
        </div>

    {% else %}

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Phalcon</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="pointer">Dashboard</a></li>

                        {% if (user['email'] != false) %}
                            <li><a class="pointer" onClick="logOut();">Log out ( {{ user['email'] }})</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>



        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">

                    <ul class="nav nav-sidebar" id='main_menu'>

                        <li class="block-li open" id="block_1">
                            <a>
                                Dashboard
                            </a>
                        </li>

                        <li block="block_1">
                            <a>
                                <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Dashboard
                            </a>
                        </li>


                    </ul>
                </div>

                <div class="container-fluid" id="content_container">
                    <div class="row">

                        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                            <!-- Begin page content -->
                            <main role="main" class="container">

                                {% block content %}
                                {% endblock %}

                            </main>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    {% endif %}

{% endblock %}